In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
from pathlib import Path

# chrome_options = webdriver.ChromeOptions()
# chrome_options.add_argument('headless')

try:
    # driver = webdriver.Chrome(options=chrome_options)
    driver = webdriver.Chrome()
except:
    service = Service(ChromeDriverManager().install())
    # driver = webdriver.Chrome(service=service, options=chrome_options)
    driver = webdriver.Chrome(service=service)

df = pd.read_excel('buscas.xlsx')
display(df)

             Nome Termos banidos  Preço mínimo  Preço máximo
0  iphone 12 64gb     mini watch          3000          3500
1        rtx 3060     zota galax          4000          4500

In [2]:
driver.get('https://www.google.com/')
driver.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(f'{df["Nome"][0]}')
driver.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

In [3]:
elements_list = driver.find_elements(By.CLASS_NAME, 'hdtb-mitem')
for element in elements_list:
        if 'shopping' in element.text.lower():
            element.click()
            break

In [60]:
df['Nome'][0].split(' ')

['iphone', '12', '64gb']

In [135]:
iphone_info = driver.find_elements(By.CLASS_NAME, 'sh-dgr__grid-result')
new_dataframe = [[
                    i.find_element(By.CLASS_NAME, 'tAxDx').text,
                    i.find_element(By.CLASS_NAME, 'a8Pemb').text,
                    i.find_element(By.CSS_SELECTOR, 'a.shntl').get_attribute('href')] 
                    for i in iphone_info]
new_dataframe.pop(0)

# Treatment of names
product_name = ['iphone', '12', '64', 'gb']
termos_banidos = ['mini', 'watch', '11']
for word in termos_banidos:
    for i, name in enumerate(new_dataframe):
        if word in name[0].lower():
            new_dataframe.pop(i)
        for n in product_name:
            if n not in name[0].lower():
                new_dataframe.pop(i)

# Treatment of prices
min_price = 3000.00
max_price = 3500.00

for k, v in enumerate(new_dataframe):
    new_dataframe[k][1] = float(v[1].replace("R$ ", "").replace(".", "").replace(",", "."))

for i, v in enumerate(new_dataframe):
    # if v[1] < min_price:
    #     print(i, v[1])
    # print()
    if v[1] > max_price:
        new_dataframe.pop(i)
        print(i, len(str(v[1])))

0 6
1 6
2 6
4 6
5 7
7 6
8 6
9 6
10 7
11 6
12 6
13 6
14 6
15 6
16 6
18 6
19 7